# fly.toml app configuration file generated for kcnotes on 2024-07-30T11:26:01+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kcnotes'
primary_region = 'ams'

[build]

[mounts]
  source = "data"
  destination = "/data"



[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
